<IfModule dir_module>
    DirectoryIndex app.php index.php index.html
</IfModule>
<IfModule mod_rewrite.c>
    SetEnv HTTP_REWRITE On
    RewriteRule ^src/ - [F]
    RewriteRule ^core/ - [F]
    RewriteRule ^resources/ - [F]
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [L]
</IfModule>

